@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Kita hapus bagian body { @apply ... } yang bikin error. */
/* Warna background sudah diatur di file layout.tsx, jadi aman. */